
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#ac909e,#a873a7,#e322c9);
    font-family: 'inter', sans-serif;
}
.appContainer{
    display: flex;
    flex-direction:column;
    gap:20px;
    align-items: center;
    padding-top: 50px;
}
.taskForm{
    display: flex;
}
.taskInput{
    border: 0;
    padding: 0px 12px;
    border-radius: 30px 0px 0px 30px;
    font-size: 16px;
}
.addTaskBtn{
    background-color: red;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 0px 30px 30px 0px;
    font-size: 16px;
    cursor: pointer;
}
.task{
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
}
.taskDone {
    text-decoration: line-through;
    opacity: 0.5;
}
.errorMsg {
    color: red;
    font-size: 14px;
    margin: 5px 0;
}
